.app-container {
  margin-top: 1em;
  margin-left: -0.6em;
  margin-right: -0.6em;
}

.course {
  cursor: pointer;
  display: flex;
  flex-direction: column;
}

.course-container {
  margin: 0.5em 0 0.5em 0;
}

.form-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 1.5em;
  margin-top: 1em;
}

.form-field {
  flex: 1 0 auto;
}

.text {
  font-size: 16px;
}

.toolbar {
  min-height: 3em;
}

.short-form-field {
  width: 10em;
}

.time-input {
  width: 6.1em;
}

.time-picker-fields mat-form-field input {
  caret-color: transparent;
  cursor: pointer;
}

.tee-time-card-container {
  display: flex;
  flex-flow: row wrap;
  margin: 2em 0 6em 10px;
}

.flex-container::after {
  flex: auto;
}

.tee-time-row {
  display: flex;
  margin: 1em;
}

.tee-time-card-container-all {
  overflow-x: auto;
  display: flex;
  flex-direction: row;
}

.tee-time-card-container-all::-webkit-scrollbar {
  display: none;
}

.time-picker-fields input {
  width: 5em;
}

.notice {
  color: red;
  font-size: 12px;
}

mat-form-field {
  margin-left: 0.5em;
  margin-right: 0.5em;
}

.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1.5em;
  margin-bottom: 1em;
  font-size: 1.5em;
}


@media only screen and (max-width: 455px) {

  .course {
    font-size: 16px;
  }

  .mat-mdc-card-title {
    font-size: 16px;
  }

  .mat-mdc-card-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .mat-mdc-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .mat-mdc-card-content:last-child {
    padding-bottom: 0;
  }

  .form-field {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .tee-time-card {
    min-width: 6em;
    margin: 0.3em;
  }
}

@media only screen and (min-width: 455.01px) and (max-width: 880px) {

  .mat-mdc-card-title {
    font-size: 16px;
  }

  .mat-mdc-card-header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .mat-mdc-card-content {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 5px;
  }

  .mat-mdc-card-content:last-child {
    padding-bottom: 0;
  }

  .form-field {
    margin-right: 0;
    margin-bottom: 10px;
  }

  .tee-time-card {
    min-width: 6em;
    margin: 1em 1em 1em 0.3em;
  }
}

@media only screen and (min-width: 881px) {
  .tee-time-card {
    margin: 1em;
    min-width: 9em;
  }

  @media only screen and (min-width: 902px) {
    .form-container {
      max-width: 902px;
    }
  }

}

