<div class="form-container">
  <div class="form-field">
    <span class="text">Play on </span>
    <mat-form-field class="short-form-field">
      <input (ngModelChange)="updateDateAndTeeTimes($event)" [matDatepicker]="picker" [min]="today"
             [ngModel]="selectedDate"
             matInput>
      <mat-datepicker-toggle [for]="picker" matSuffix></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
  </div>
  <div *ngIf="!showAllCourses" class="form-field">
    <span class="text">at </span>
    <mat-form-field>
      <mat-select [(value)]="selectedCourse">
        <mat-option *ngFor="let course of courses" [value]="course">
          {{ course.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <ng-container *ngIf="showAllCourses">
    <div class="form-field time-picker-fields">
      <span class="text">between </span>
      <mat-form-field class="time-input">
        <input [(ngModel)]="timeFilterStart" [owlDateTimeTrigger]="dtStart" [owlDateTime]="dtStart" inputmode="none"
               matInput
               readonly>
        <owl-date-time #dtStart [hour12Timer]="true" [pickerType]="'timer'"
                       [startAt]="timeFilterStart"
                       [stepMinute]="30"></owl-date-time>
      </mat-form-field>
      <span class="text"> and </span>
      <mat-form-field class="time-input">
        <input [(ngModel)]="timeFilterEnd" [owlDateTimeTrigger]="dtEnd" [owlDateTime]="dtEnd" inputmode="none" matInput
               readonly>
        <owl-date-time #dtEnd [hour12Timer]="true" [pickerType]="'timer'"
                       [startAt]="timeFilterEnd"
                       [stepMinute]="30"></owl-date-time>
      </mat-form-field>
    </div>
  </ng-container>
  <div class="form-field">
    <mat-chip-listbox [(ngModel)]="holeFilterValue" [multiple]="false" aria-label="Select Number Of Holes">
      <mat-chip-option [value]="9">9 Holes</mat-chip-option>
      <mat-chip-option [value]="18">18 Holes</mat-chip-option>
      <mat-chip-option [value]="1">Both</mat-chip-option>
    </mat-chip-listbox>
  </div>
  <div class="form-field" style="margin-left: 1em;">
    <button (click)="showAllCourses = !showAllCourses" *ngIf="!showAllCourses" [disabled]="loading" color="primary"
            mat-raised-button>All Courses
    </button>
    <button (click)="showAllCourses = !showAllCourses" *ngIf="showAllCourses" [disabled]="loading" color="primary"
            mat-raised-button>Back
    </button>
  </div>
</div>

<div [hidden]="!showAllCourses" class="app-container">
  <div *ngFor="let course of courses" class="course-container">
    <div
      *ngIf="(course.teeTimes | holeFilter: holeFilterValue | dateFilter: timeFilterStart: timeFilterEnd: this.selectedDate).length > 0">
      <mat-toolbar class="toolbar">
        <span (click)="bookTeeTime(course.bookingUrl)" class="course">{{course.name}} </span>
      </mat-toolbar>
      <div *ngIf="loading" class="loading-spinner alert">
        <mat-spinner></mat-spinner>
      </div>
      <div *ngIf="!loading">
        <div *ngIf="holeFilterValue === undefined">
          <div class="alert">
            <span>Select Number of Holes</span>
          </div>
        </div>
        <div *ngIf="course.teeTimes && holeFilterValue" class="teetime-card-container-all">
          <mat-card
            *ngFor="let details of course.teeTimes | holeFilter: holeFilterValue | dateFilter: timeFilterStart: timeFilterEnd: this.selectedDate"
            class="tee-time-card">
            <mat-card-header>
              <mat-card-title>{{details.time}}</mat-card-title>
            </mat-card-header>
            <mat-card-content>
              <p>Holes: {{holeFilterValue === 1 ? details.holes : holeFilterValue}}</p>
              <p>Spots: <b>{{details.spots}}</b></p>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
    </div>
  </div>
</div>

<div [hidden]="showAllCourses" class="app-container">
  <div>
    <mat-toolbar class="toolbar">
      <span (click)="bookTeeTime(selectedCourse.bookingUrl)" class="course">{{selectedCourse.name}} </span>
    </mat-toolbar>
    <div *ngIf="loading" class="loading-spinner alert">
      <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="!loading">
      <div *ngIf="holeFilterValue === undefined">
        <div class="alert">
          <span>Select Number of Holes</span>
        </div>
      </div>
      <div
        *ngIf="selectedCourse.teeTimes.length === 0 || (selectedCourse.teeTimes | holeFilter: holeFilterValue).length === 0">
        <div class="alert">
          <span>No Tee Times Available</span>
        </div>
      </div>

      <div #flexContainer *ngIf="selectedCourse.teeTimes.length > 0" class="tee-time-card-container">
        <mat-card *ngFor="let details of selectedCourse.teeTimes | holeFilter: holeFilterValue" class="tee-time-card">
          <mat-card-header>
            <mat-card-title>{{details.time}}</mat-card-title>
          </mat-card-header>
          <mat-card-content>
            <p>Holes: {{holeFilterValue === 1 ? details.holes : holeFilterValue}}</p>
            <p>Spots: <b>{{details.spots}}</b></p>
          </mat-card-content>
        </mat-card>
      </div>
    </div>
  </div>
</div>
