.app-container {
  margin: 0.5em;
}

.course {
  display: flex;
  flex-direction: column;
}

.form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form-field {
  flex: 1 0 auto;
  margin-top: 2em;
}

@media (max-width: 880px) {
  .form-container {
    margin-left: 1.5em;
    flex-direction: column;
  }

  .form-field {
    margin-right: 0;
    margin-bottom: 10px;
  }
  .form-field mat-slider {
    width: 80vw;
  }
}

@media (min-width: 880px) {
  .form-field mat-slider {
    width: 30vw;
  }
}


.teetime-card-container-all {
  display: flex;
  flex-direction: row;
  margin: 2em 0 2em 0;
}

.toolbar {
  min-height: 3em;
}

.teetime-card {
  margin: 1em;
  min-width: 12em;
}

.teetime-card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: 2em 0 2em 0;
}

.teetime-card-container-all {
  overflow-x: auto;
  margin: 2em 0 2em 0;

}

.notice {
  color: red;
  font-size: 12px;
}

mat-card {
  cursor: pointer;
}


.mat-mdc-radio-button ~ .mat-mdc-radio-button {
  margin-left: 16px;
}

.alert {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 3.5em;
  font-size: 1.5em;
}
