<mat-toolbar class="navbar" color="primary">
  <span class="logo" routerLink="/">Golf Rhode Island</span>

  <!-- Hamburger icon for mobile -->
  <button (click)="toggleMobileMenu()"
          *ngIf="showHamburger"
          class="mobile-menu-toggle"
          mat-icon-button>
    <mat-icon>{{ showMobileMenu ? 'close' : 'menu' }}</mat-icon>
  </button>

  <!-- Desktop search form -->
  <form (ngSubmit)="search()" *ngIf="showSearch" [class.mobile-expanded]="showMobileMenu" [formGroup]="searchForm"
        class="search-form">
    <div class="form-row">
      <div class="form-item mobile-form-width">
        <mat-form-field appearance="outline">
          <mat-label style="color: white;">Date</mat-label>
          <input [matDatepicker]="picker" [min]="minDate" [max]="maxDate" formControlName="date" matInput style="color: white;">
          <mat-datepicker-toggle [for]="picker" matSuffix style="color: white;"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="form-item mobile-form-width">
        <mat-form-field appearance="outline">
          <mat-label style="color: white;">Start Time</mat-label>
          <input formControlName="startTime" matInput style="color: white;" type="time">
        </mat-form-field>
      </div>

      <div class="form-item mobile-form-width">
        <mat-form-field appearance="outline">
          <mat-label style="color: white;">End Time</mat-label>
          <input formControlName="endTime" matInput style="color: white;" type="time">
        </mat-form-field>
      </div>

      <div class="form-item mobile-form-width">
        <mat-button-toggle-group formControlName="holes">
          <mat-button-toggle [value]="9">9 Holes</mat-button-toggle>
          <mat-button-toggle [value]="18">18 Holes</mat-button-toggle>
        </mat-button-toggle-group>
      </div>
      <button class="mobile-form-width" mat-raised-button style="color: white; background-color: #9c27b0;"
              type="submit">
        Search
      </button>
    </div>
  </form>
</mat-toolbar>
