// navbar.component.scss
.navbar {
  align-items: center;
  display: flex;
  height: 100px;
  padding: 0 16px;
  position: sticky;
  top: 0;
  z-index: 1000;
}

.logo {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: 500;
  margin-right: 24px;
  white-space: nowrap;
}

.search-form {
  display: flex;
  max-width: 1000px;
  transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
}

.form-row {
  align-items: center;
  display: flex;
  flex-wrap: nowrap;
  gap: 8px;
  width: 100%;
}

.form-item {
  margin-right: 8px;
}

mat-form-field {
  font-size: 20px;
  margin-bottom: -1em;
  width: 150px;
}

/* Make date input wider */
.form-item:first-child mat-form-field {
  width: 180px;
}

.spacer {
  flex: 1 1 auto;
}

.nav-link {
  margin-left: 8px;
  white-space: nowrap;
}

.mobile-menu-toggle {
  display: none;
}

/* Mobile styles */
@media (width <= 1050px) {
  .navbar {
    flex-wrap: wrap;
    height: auto;
    justify-content: space-between;
    min-height: 64px;
    padding: 8px 16px;
  }

  .mobile-menu-toggle {
    display: block;
    order: 2;
  }

  .logo {
    margin-right: 0;
    order: 1;
  }

  .search-form {
    flex-basis: 100%;
    margin-top: 16px;
    max-height: 0;
    max-width: 100%;
    opacity: 0;
    order: 3;
    overflow: hidden;
    transform: translateY(-20px);
  }

  .search-form.mobile-expanded {
    display: block;
    max-height: 600px; /* Adjust as needed to accommodate your form */
    opacity: 1;
    padding-top: 0.5em;
    transform: translateY(0);
  }

  .form-row {
    align-items: stretch;
    flex-direction: column;
  }

  .form-item {
    margin-bottom: 12px;
    margin-right: 0;
    width: 100%;
  }

  .mobile-form-width {
    width: 85vw;
  }

  .form-item:first-child mat-form-field,
  mat-form-field {
    width: 100%;
  }

  .nav-links {
    display: flex;
    flex-basis: 100%;
    flex-direction: column;
    margin-top: 16px;
    max-height: 0;
    opacity: 0;
    order: 4;
    overflow: hidden;
    transform: translateY(-10px);
    transition: max-height 0.3s ease, opacity 0.3s ease, transform 0.3s ease;
  }

  .mobile-nav-links {
    display: flex;
    max-height: 200px; /* Adjust based on your navigation height */
    opacity: 1;
    transform: translateY(0);
  }

  .nav-link {
    margin-bottom: 8px;
    margin-left: 0;
    width: 100%;
  }

  .spacer {
    display: none;
  }

}
