<div class="container">
  <div class="nav-container">
    <button (click)="goBack()" color="primary" mat-stroked-button>
      <mat-icon>arrow_back</mat-icon>
      Back to All Courses
    </button>
    <button (click)="goToCoursePage(this.course.booking_url)" color="primary" mat-stroked-button>
      <mat-icon>arrow_outward</mat-icon>
      Course Page
    </button>
  </div>

  <div *ngIf="error" class="error-container">
    <mat-icon color="warn">error</mat-icon>
    <p>Failed to load course information. Please try again later.</p>
  </div>

  <div *ngIf="!error && course" class="course-detail">
    <div class="course-header">
      <h1 class="course-title">{{ course.name }}</h1>
      <h2 class="course-subtitle">Available Tee Times for {{ searchParams.date | date:'fullDate' }}</h2>
      <h4 class="course-subtitle"><b>Note:</b> Tee times are updated every 30 minutes, availability is not guaranteed.</h4>
      <div class="filter-options">
        <div class="filter-group">
          <div class="hole-buttons">
            <button (click)="filterByHoles(9)"
                    [class.active]="searchParams.holes === 9"
                    mat-raised-button>
              9 Holes
            </button>
            <button (click)="filterByHoles(18)"
                    [class.active]="searchParams.holes === 18"
                    mat-raised-button>
              18 Holes
            </button>
            <button (click)="filterByHoles(null)"
                    [class.active]="searchParams.holes === undefined || searchParams.holes === null"
                    mat-raised-button>
              All
            </button>
          </div>
          <mat-divider [vertical]="true"></mat-divider>
          <mat-form-field appearance="outline">
            <mat-label>Select Course</mat-label>
            <mat-select (selectionChange)="changeCourse($event.value)" [value]="courseId">
              <mat-option *ngFor="let c of allCourses" [value]="c.id">
                {{ c.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
        </div>
      </div>
    </div>
    <div *ngIf="getFilteredTeeTimes().length === 0 && !error" class="no-results">
      <p>No tee times available for the selected criteria.</p>
    </div>

    <div *ngIf="!error && getFilteredTeeTimes().length > 0" class="tee-times-container">
      <div *ngFor="let hourGroup of getSortedHourGroups()" class="hour-group">
        <div class="hour-group-header">{{ hourGroup.label }}</div>
        <div class="tee-times-grid">
          <div (click)="this.reservationDialogService.book(course, teeTime)" *ngFor="let teeTime of hourGroup.teeTimes"
               class="tee-time-card">
            <div class="tee-time-content">
              <div class="tee-time-time">{{ teeTime.time | date:'shortTime' }}</div>
              <div class="tee-time-info">
                <div class="tee-time-spots">{{ teeTime.spots }} spots available</div>
                <div class="tee-time-holes">
                  <mat-chip-set>
                    <mat-chip *ngFor="let hole of teeTime.holes"
                              [highlighted]="false"
                              disabled="true">
                      {{ hole }} Holes
                    </mat-chip>
                  </mat-chip-set>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
